@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<CarouselForBooksApplication.Models.Book>

<style>
    #divCard {
        position: relative;
        float: left;
        margin: 10px;
    }
</style>
<h1>Book Listings</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div id="divCard" class="card" style="border:double 3px; padding: 3px; border-radius: 2px;">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img class="card-img-top" src="@Url.Content(item.Picture)" alt="Card image cap" height="350" width="250">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><b>@item.Title</b></h5>

                    <div class="card-footer">
                        @if (HttpContextAccessor.HttpContext.Session.GetString("role") != null)
                        {
                            @if (HttpContextAccessor.HttpContext.Session.GetString("role") == "admin")
                            {
                                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>@:&nbsp;
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">View Details</a>@:&nbsp;
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                            else
                            {
                                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Add To Cart</a>@:&nbsp;
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">View Details</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>