@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@if (@HttpContextAccessor.HttpContext.Session.GetString("un") != null)
{
    <form asp-controller="User" asp-action="Logout" method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (@HttpContextAccessor.HttpContext.Session.GetString("role") == "user")
            {
                <li><a href="#">Hello @HttpContextAccessor.HttpContext.Session.GetString("un")!</a></li>
                <li><a asp-area="" asp-controller="Order" asp-action="Index">View Past Orders</a></li>
                <li><a asp-area="" asp-controller="User" asp-action="Edit">Edit Profile</a></li>
                <li>
                    <a asp-area="" asp-controller="Cart" asp-action="Index" style="font-size:18px; color:white"><strong>Cart <span class="badge">@HttpContextAccessor.HttpContext.Session.GetString("cartitems")</span></strong></a>
                </li>
                @*<li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hello @HttpContextAccessor.HttpContext.Session.GetString("un")!</a>
                <ul class="dropdown-menu">
                    <li><a asp-area="" asp-controller="Order" asp-action="Index">View Past Orders</a></li>
                    <li><a asp-area="" asp-controller="User" asp-action="Edit">Edit Profile</a></li>
                </ul>
            </li>*@
            }
            else
            {
                <li>
                    <a asp-area="" asp-controller="Book" asp-action="Index">Hello @HttpContextAccessor.HttpContext.Session.GetString("un")!</a>
                </li>
            }
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="User" asp-action="Login">Login</a></li>
        <li><a asp-area="" asp-controller="User" asp-action="Create">Register</a></li>
    </ul>
}
